@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  text-align: center;
}

.App-header {
  background-color:#f5f6f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.App-link {
  color: #61dafb;
}

#barraNavegacion {
  background-color: #ffdb15;
}

#footer {
  background-color: #ffdb15;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; */
  color: black;
}

#textoFooter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  background-color: #ffdb15;
}
